@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

:root {
  --primary-color: #9b0ea0;
  --primary-color-dark: black;
  --secondary-color: #0f0f0f;
  --text-dark: #1f2937;
  --text-light: #6b7280;
  --extra-light: #9b0ea0;
  --max-width: 1200px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: white;
}

/*-------NavBar-------*/

nav {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: black;
  z-index: 99;
}

.nav__content {
  max-width: var(--max-width);
  margin: auto;
  padding: 1.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav span{
  color: #faf5ff;
}

nav .logo a {
  font-size: 2rem;
  font-weight: 600;
  color: var(--primary-color);
  transition: 0.3s;
  text-shadow: yellow;
}
nav ul li a{
  color: #fdfcfc;
}

nav .checkbox {
  display: none;
}

nav input {
  display: none;
}
nav .checkbox i {
  font-size: 2rem;
  color: #9b0ea0;
  cursor: pointer;
}

ul {
  display: flex;
  align-items: center;
  gap: 1rem;
  list-style: none;
  transition: left 0.3s;
}

ul li a {
  padding: 0.5rem 1rem;
  border: 2px solid transparent;
  text-decoration: none;
  font-weight: 600;
  color: var(--text-dark);
  transition: 0.3s;
}


nav ul li a:hover {
  border-top-color: yellow;
  border-bottom-color: yellow;
  color: yellow;
}

.container {
  min-height: 100vh;
  max-width: var(--max-width);
  margin: auto;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.subtitle {
  letter-spacing: 2px;
  color: yellow;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.title {
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 3rem;
  color: white;
  margin-bottom: 1rem;
}

.title span {
  font-weight: 600;
  color: #9b0ea0;
}

.button {
  background-color: #9b0ea0;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
}

.button:hover {
  background-color: transparent;
  color: #fdfcfc;
  cursor: pointer;
  border: 2px solid #9b0ea0;
}

/*.........Home Section...........*/

.home {
  /*background-color: black;*/
  background-image: url(img/bg1.jpg);
}

.description {
  line-height: 1.5rem;
  color: lightgoldenrodyellow;
  margin-bottom: 2rem;
}
.image {
  display: grid;
  place-items: center;
}

.image img {
  width: min(25rem, 90%);
  border-radius: 100%;
  border-style: ridge;
}

.social-icons{
  margin: 30px auto;
  text-align: center;
}
.social-icons img{
  width: 50px;
  margin: 0 12px;
  box-shadow: 0 0 20px 0 #9b0ea0;
  cursor: pointer;
  border-radius: 50%;
}

/*........About Section.........*/

.about{
  background-color: #2e172e;
  
}

.image2 {
  display: grid;
  place-items: center;
  float: left;
  box-shadow: 0 0 10px 0 #9b0ea0;
}

.image2 img {
  width: min(25rem, 90%);
  border-radius: 0%;
}

.description2 {
  line-height: 1.5rem;
  color: lightgoldenrodyellow;
  margin-bottom: 2rem;
  float: right;
}

/*.......project..........*/

.projects{
  /*background: #1e0024;*/
  background-image: url(img/bg3.jpg); 
}
.title2 {
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 3rem;
  color: white;
  margin-bottom: 1rem;
  text-align: center;
}
.box{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 400px;
}
.card{
  height: 365px;
  padding: 20px 35px;
  background: #2e2e2e;
  border-radius: 20px;
  margin: 15px;
  position: relative;
  overflow: hidden;
  text-align: center;
}

.card img{
  width: 300px;
}

.box .card p{
  color: #faf5ff;
}

.card i{
  font-size: 50px;
  display: block;
  text-align: center;
  margin: 25px 0px;
  color: #9b0ea0;

}
.pra{
  align-items: center;
  justify-content: center;
}
.pra p{
  color: yellow;
  font-size: 16px;
  line-height: 27px;
  margin-bottom: 25px;
}
.card .button{
  background-color: #9b0ea0;
  color: white;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 9px 22px;
  border-radius: 30px;
  transition: .4s;
}
.card .button:hover{
  background-color: transparent;
  border: 2px solid #9b0ea0;
  cursor: pointer;
}

/*............Skills..........*/

.skills{
  background-color: #140a14;
}

.subtitle2 {
  letter-spacing: 2px;
  color: yellow;
  font-weight: 600;
  margin-bottom: 0.5rem;
  text-align: left;
  margin-left: 10%;
}

.card{
  height: 365px;
  padding: 20px 35px;
  background: #050000;
  border-radius: 20px;
  margin: 15px;
  position: relative;
  overflow: hidden;
  text-align: center;
}

/*...........contact section starts......*/
/*
.contact{
  background-color: black;
}
*/
form{
  text-align: left ;
}

form input{
  width: 100%;
  margin-bottom: 20px;
  padding: 15px;
  background-color: #2e2e2e;
  color: white;
  border: 2px solid rgb(189, 30, 149);
}
form textarea {
  margin-bottom: 20px;
  padding: 15px;
  background-color: #2e2e2e;
  color: rgb(238, 248, 95);
  border: 2px solid rgb(189, 30, 149);
}
form a{
  margin-left: 60px;
  padding: auto;
}


@media (width < 750px) {
  nav .checkbox {
    display: block;
  }

  ul {
    position: absolute;
    width: 100%;
    height: calc(100vh - 85px);
    left: -100%;
    top: 85px;
    background-color: var(--extra-light);
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
  }

  nav #check:checked ~ ul {
    left: 0;
  }

  ul li a {
    font-size: 1.25rem;
  }

  .container {
    padding: 10rem 1rem 5rem 1rem;
    text-align: center;
    grid-template-columns: repeat(1, 1fr);
  }
  /*.about__container {
    padding: 10rem 1rem 5rem 1rem;
    text-align: center;
    grid-template-columns: repeat(1, 1fr);
  }*/

  .image {
    grid-area: 1/1/2/2;
  }
  .image2 {
    grid-area: 1/1/2/2;
  }

  .action__btns {
    margin: auto;
  }
}
